NODE_ENV=development
POSTGRES_PASSWORD=foreverfriends
POSTGRES_USER=foreverfriendsuser
POSTGRES_DB=foreverfriends
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:5432/${POSTGRES_DB}